<link href="../../../utilitario/style/base.css" rel="stylesheet" type="text/css" />
<h1 class="title">Edicion de datos</h1>

<%= render 'form' %>

<%= link_to 'Ver', @category %>
<%= link_to 'Atras', categories_path %>
